/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Your code starts here! */

*{
  margin: 0 auto;
}


/*.container{
   margin: 0 auto;
  width: 1000px;
} */
body {
   width: 800px;
     margin: 0 auto;
}

.nav_bar {
	
	margin: 1%;
    padding: 1%;
	width: 100%;
	
 display:flex;
  flex-direction:row;
  flex-wrap : wrap;
    allign-content:space-between;
 
   align-items:center;
 
   
justify-content: space-between;
  
}
.nav_bar a {
   width:70px;
	text-allign: center;
 padding-right:40px;
	color: darkgrey;
 text-decoration: none;
  
}

.logo{
   	
     
  
}
.header_image1{
   margin:20px;
 width: 98%;
 
}
.services_text{
   margin:20px;
  width: 100%;
}


.middle_text {
 display:flex;
  flex-direction:row;
  flex-wrap : wrap;
  
 
}
.middle_text > div {
flex-wrap : wrap;
  width: 360px;
  margin:20px;
  border: 1px solid black;
  background: #F4F3F4;
  padding :15px;
  }

.last-section{
  display:flex;
  flex-direction:row;
 
}

.last-section > div {
  flex-wrap : wrap;
  margin:20px;
  width: 100%;
 
  
}

.services-info-img{
  
  height:325px; 
 width: 100%;
}
.list {
   margin:20px;
  width: 100%;
}

.copyright{
  padding: 20px 0;
  text-align:center;
}

button{
  border: 2px solid black;
  background-color: white;
  padding: 7px 30px;
  font-size: 13px;
  cursor: pointer;
  
  margin-top : 15px ; 
}

hr{
  margin-top: 3%;
   margin-bottom: 3%;
}